
  body{
    margin:0;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(29, 29, 29);
  }

  @font-face { font-family: Delicious; src: url('joystix monospace.ttf');}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position:fixed;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}

.menu-choice{
  display: block;
  color: white;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  transition: all 0.5s ease-in;
  float: left;
}

.menu-choice:hover {
  transition: all 0.5s ease-in;
}

.li-logo{
    font-family: Delicious, sans-sherif;
}

.priprava:hover{
  background-color:rgb(200, 200, 200);
  color:#000;
}
.voda:hover{
  background-color:rgb(87, 157, 179);
  color:#fff;
}
.ovzdusie:hover{
  background-color:rgb(153, 223, 245);
  color:#000000;
}
.odpad:hover{
  background-color:rgb(124, 129, 124);
}
.ene:hover{
  background-color:rgb(151, 255, 119);
  color:#000000;
}
.poda:hover{
  background-color:rgb(94, 180, 94);
  color:#ffffff;
}

ul li ul li{ border-top: 1px solid #fff;}
            
            ul li ul{display: none;}
            
            .voda:hover ul{ display: block;}
            
            ul li ul .itam-2{position: absolute; left: 122px; top: 0; display: none;}
            
            ul li ul li:last-child:hover .itam-2{display: block;}
            

.delicious{
  font-family: 'Delicious', sans-sherif;
}

.level-background{
    width:90%;
    margin:auto;
    padding-bottom:40px;
}

.level-top{
    width:80%;
    height:100px;
    margin:auto;
    background-color: rgb(196, 206, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow:hidden;
    border-bottom: rgb(29, 29, 29) solid 4px;
}

.level-top-25{
    color:black;
    background-color: rgb(133, 143, 192);
    text-align:center;
    width:15%;
    float:left;
    padding-top:35px;
    height:65px;
    text-shadow: #fff 2px 2px;
    font-size:30px;
    font-family: Delicious;
}

.level-top-15{
    text-align:center;
    width:15%;
    background-color: rgb(133, 143, 192);
    height:90px;
    float:left;
    padding-top:10px;
}

.level-top-60{
    text-align:center;
    width:70%;
    height:70px;
    float:left;
    padding-top:30px;
    font-size:30px;
}

.level-top-logo{
    height:90%;
}

.level-bottom{
    width:80%;
    padding-top:20px;
    padding-bottom:40px;
    background-color: rgb(255, 255, 255);
    margin:auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.level-bottom-inner{
    width:90%;
    margin:auto;
    padding:2.5%;
    overflow: hidden;
}

.level-bottom-inner-name{
    float:left;
    width:20%;
}

.level-bottom-inner-text{
    float:right;
    width:80%;
}

.level-bottom-inner-list-name{
    float:left;
    width:20%;
}

.level-bottom-inner-list-text{
    float:left;
    width:80%;
    padding-bottom:40px;
}

.list-outside{
    margin:auto;
    list-style-type:square;
}

.level-bottom-inner-postup-name{
    float:left;
    width:20%;
}

.level-bottom-inner-postup-text{
    float:right;
    width:80%;
}

.postup-outside{
    margin:auto;
}

.level-bottom-image-background{
    width:50%;
    float:left;
    text-align:center;
    padding-top:20px;
}

.level-bottom-image{
    width:75%;
    border: 5px solid rgb(29, 29, 29);
}

.choose-background-outside{
  width:100%;
  margin-top:100px;
  padding-top:30px;
}

.choose-background{
  width:73%;
  background-color: #fff;
  margin:auto;
  border-radius:20px;
  padding-top:40px;
  padding-bottom:40px;
}

.choose-select{
  width:65%;
  height:45px;
  font-size:25px;
  border-radius:5px;
  margin-left:5%;
}

.choose-button{
  width:20%;
  height:37px;
  background-color:#DDDDDD;
  float:right;
  border-radius: 10px;
  margin-right:5%;
  border:1px solid rgb(172, 172, 172);
  text-align:center;
  font-size: 20px;
  padding-top:8px;
}

select{
  font-family:Delicious;
}

option{
  padding:5px;
  background-color: rgb(233, 233, 233);
}

.info-background{
  width:100%;
  padding-top:80px;
  padding-bottom:40px;
  overflow: hidden;
  background-color:#fff;
}

.info-name{
  margin:auto;
  text-align:center;
  color:black;
  font-family: Delicious;
  font-size: 45px;
}

.info-text{
  width:80%;
  padding:7.5%;
  padding-top:5%;
  margin:auto;
  text-align:center;
}

.info-categories{
  overflow:hidden;
  width:100%;
}

.info-categories-name{
  font-size:25px;
  font-family:Delicious;
  width:20%;
  float:left;
  text-align:center;
}

.info-categories-background{
  width:80%;
  float:right;
}

.info-category{
  width:175px;
  height:225px;
  background-color:rgb(241, 241, 241);
  float:right;
  margin-right:5%;
  margin-bottom:5%;
  text-align:center;
}

.info-category-image{
  width:75%;
  padding-top:15px;
  padding-bottom:15px;
}

.info-category-name{
  text-align:center;
  font-family:Delicious;
}

.info-uroven{
  overflow:hidden;
  width:100%;
  padding-top:30px;
  padding-bottom:20px;
}

.info-uroven-name{
  width:20%;
  font-family:Delicious;
  font-size:25px;
  float:left;
  text-align:center;
}

.info-uroven-text{
  width:80%;
  float:right;
}

.info-uroven-background{
  width:80%;
  padding:5%;
  background-color:rgb(241, 241, 241);
  text-align:center;
  overflow: hidden;
}

.info-uroven-square{
  width:33.3%;
  float:left;
}

.info-uroven-circle{
  width:50px;
  height:50px;
  margin-bottom:25px;
}

.info-uroven-square-name{
  text-align:center;
  font-family:Delicious;
  font-size:20px;
}

.info-uroven-square-exp{
  font-family:Delicious;
  font-size:14px;
  width:80%;
  padding-left:10%;
  text-align:center;
}

.pack-background{
  width:60%;
  height:90px;
  background-color:white;
  margin:auto;
  margin-top:80px;
  margin-bottom:80px;
  overflow:hidden;
  font-family:Delicious;
  border-radius:20px;
}

.pack-15{
  width:20%;
  height:90px;
  float:left;
  text-align:center;
  background-color:lightgrey;
  font-size:18px;
}

.pack-35{
  width:65%;
  height:90px;
  float:left;
  text-align:center;
}

.pack-inside-15{
  padding-top:35px;
}

.pack-inside-35{
  font-size:20px;
  padding-top:33px;
}

.pack-69{
  width:15%;
  height:90px;
  float:left;
  text-align:center;
  background-color:lightgrey;
}

.pack-inside-69{
  font-size:20px;
  padding-top:32px;
}

.level-video{
  margin:auto;
  text-align:center;
}

iframe{
  margin:auto;
  text-align:center;
}

.level-video-outside{
  text-align:center;
  padding-top:40px;
  padding-bottom:40px;
}